/*heading*/
#main-head h1 {
	color: #f0ad4e;
}


/*footer*/
.footer {
	text-align: center;
}


/*Random number div*/
#div-random {
	padding-bottom: 57px;
}


/*crystal images*/
.crystal-img {
	height: 150px;
	width: 150px;
}
